input[type=radio]:checked {
    background-color: #5856D6;
}

.marketing-container{
    padding-bottom: 20px;
    background-image: linear-gradient(to bottom right, #1F1F21, #5856D6 );
}

.title-container{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.title{
    padding: 50px;
    text-align: center;
    color: #fff;
}

.html-title{
    background-image: linear-gradient(to bottom right, #FF5722, #C7C7CC);
}

.css-title{
    background-image: linear-gradient(to bottom right, #EF476F , #9660A1);
}

.js-title{
    background-image: linear-gradient(to bottom right, #4CD964, #FCC04D );
}


.submit:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.jumbotron-container{
    margin-top: 20px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #1F1F21, #5856D6 );
}

.results-percentage{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: '#fff';
    font-size: 45px;
    text-align: center;
}

.results{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: rgba(255, 255, 255, 0.25) solid 3px;
    background-image: linear-gradient(to bottom right, #1F1F21, #5856D6 );
    margin-top: 10px;
    margin-bottom: 10px;
}