.title-container{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.title{
    padding: 50px;
    text-align: center;
    color: #fff;
}

.html-title{
    background-image: linear-gradient(to bottom right, #FF5722, #C7C7CC);
}

.css-title{
    background-image: linear-gradient(to bottom right, #EF476F , #9660A1);
}

.js-title{
    background-image: linear-gradient(to bottom right, #4CD964, #FCC04D );
}


.submit:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.jumbotron-container{
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #1F1F21, #5856D6 );
}